<!DOCTYPE html>
<html>
    <head>
      <title>Earthdawn</title>
      <link rel="stylesheet" href="index.css">
      <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/index.css')}}">
    </head>
    <body>
        <div class="top_of_webpage">
            <span class="title_of_game">Earthdawn</span>

            <span class="player_name_header">Player:</span>
            <span class="player_name">Brandon Fletcher</span>
        </div>

        <div class="character_info">
            <!-- Block of Character's Information -->
            <div id="character_name">
                Character Name: <span id=character_info_text_color>Brock</span>
                <hr></hr>
            </div>

            <div id="character_discipline">
                Discipline: <span id="character_info_text_color">Elementalist</span>
                <hr></hr>
            </div>

            <div id="character_circle">
                Circle: <span id="character_info_text_color">1</span>
                <hr></hr>
            </div>

            <div id="character_race">
                Race: <span id="character_info_text_color">Obsidiman</span>
                <hr></hr>
            </div>

            <div id="character_age_hair_eyes">
                <span id="character_age">
                    Age: <span id="character_info_text_color">1,400</span>
                </span>
                <span id="character_hair">
                    Hair: <span id="character_info_text_color">Moss</span>
                </span>
                <span id="character_eyes">
                    Eyes: <span id="character_info_text_color">Green</span>
                </span>
            </div>

            <hr></hr>

            <div id="character_height_weight_sex">
                <span id=character_height>
                    Height: <span id="character_info_text_color">7'5"</span>
                </span>
                <span id=character_weight>
                    Weight: <span id="character_info_text_color">1,100 lbs</span>
                </span>
                <span id=character_sex>
                    Sex: <span id="character_info_text_color">Male</span>
                </span>
            </div>


        </div>

        <div class="attributes_and_characterisitcs">
            <div class="attributes_and_characteristics_titles">
                <span id="attributes_title">
                    <div align="center">
                        Attributes
                    </div>
                </span>
                <span id="characteristics_title">
                    <div align="center">
                        Characteristics
                    </div>
                </span>
            </div>

            <div class="attributes_and_characterisitcs_containers">
                <span class="attributes">

                    <div class="attributes_column_headers">
                        <span id="blank_attribute_header_size">
                            <div align="center" id="blank_attribute_header">

                            </div>
                        </span>
                        <span id="attributes_column_header_value">
                            <div align="center">
                                Value
                            </div>
                        </span>
                        <span id="attributes_column_header_step">
                            <div align="center">
                                Step
                            </div>
                        </span>
                        <span id="attributes_column_header_action_dice">
                            <div align="center">
                                Action Dice
                            </div>
                        </span>

                    </div>

                    <hr></hr>

                    <div class="dexterity_row">
                        <span id="dexterity">
                            <div align="center">
                                Dexterity:
                            </div>
                        </span>
                        <span id="dexterity_value">
                            <div align="center">
                                ( 12 )
                            </div>
                        </span>
                        <span id="dexterity_step">
                            <div align="center">
                                5
                            </div>
                        </span>
                        <span id="dexterity_dice">
                            <div align="center">
                                1D8
                            </div>
                        </span>

                    </div>

                    <hr></hr>

                    <div class="dexterity_row">
                        <span id="dexterity">
                            <div align="center">
                                Strength:
                            </div>
                        </span>
                        <span id="dexterity_value">
                            <div align="center">
                                ( 15 )
                            </div>
                        </span>
                        <span id="dexterity_step">
                            <div align="center">
                                6
                            </div>
                        </span>
                        <span id="dexterity_dice">
                            <div align="center">
                                1D10
                            </div>
                        </span>

                    </div>

                    <hr></hr>

                    <div class="dexterity_row">
                        <span id="dexterity">
                            <div align="center">
                                Toughness:
                            </div>
                        </span>
                        <span id="dexterity_value">
                            <div align="center">
                                ( 16 )
                            </div>
                        </span>
                        <span id="dexterity_step">
                            <div align="center">
                                7
                            </div>
                        </span>
                        <span id="dexterity_dice">
                            <div align="center">
                                1D12
                            </div>
                        </span>

                    </div>

                    <hr></hr>

                    <div class="dexterity_row">
                        <span id="dexterity">
                            <div align="center">
                                Perception:
                            </div>
                        </span>
                        <span id="dexterity_value">
                            <div align="center">
                                ( 15 )
                            </div>
                        </span>
                        <span id="dexterity_step">
                            <div align="center">
                                6
                            </div>
                        </span>
                        <span id="dexterity_dice">
                            <div align="center">
                                1D10
                            </div>
                        </span>

                    </div>

                    <hr></hr>

                    <div class="dexterity_row">
                        <span id="dexterity">
                            <div align="center">
                                Willpower:
                            </div>
                        </span>
                        <span id="dexterity_value">
                            <div align="center">
                                ( 16 )
                            </div>
                        </span>
                        <span id="dexterity_step">
                            <div align="center">
                                7
                            </div>
                        </span>
                        <span id="dexterity_dice">
                            <div align="center">
                                1D12
                            </div>
                        </span>

                    </div>

                    <hr></hr>

                    <div class="dexterity_row">
                        <span id="dexterity">
                            <div align="center">
                                Charisma:
                            </div>
                        </span>
                        <span id="dexterity_value">
                            <div align="center">
                                ( 11 )
                            </div>
                        </span>
                        <span id="dexterity_step">
                            <div align="center">
                                5
                            </div>
                        </span>
                        <span id="dexterity_dice">
                            <div align="center">
                                1D8
                            </div>
                        </span>

                    </div>
                </span>

                <span class="characteristics">
                    <!-- Start Defense & Armor Headers -->
                    <div id="defense_armor_header">
                        <span id="defense_header">
                            Defense
                        </span>
                        <span id="armor_header">
                            Armor
                        </span>
                    </div>

                    <div id="defense_armor_values_row">

                        <span id="def_physical">
                            <div align="center" id="defense_armor_values_titles">
                                Physical
                            </div>
                            <div id="defense_armor_values">
                                <div id="defense_values_color">7</div>
                            </div>
                        </span>
                        <span id="spell_physical">
                            <div align="center" id="defense_armor_values_titles">
                                Spell
                            </div>
                            <div id="defense_armor_values">
                                <div id="defense_values_color">8</div>
                            </div>
                        </span>
                        <span id="social_physical">
                            <div align="center" id="defense_armor_values_titles">
                                Social
                            </div>
                            <div id="defense_armor_values">
                                <div id="defense_values_color">7</div>
                            </div>
                        </span>
                        <span id="phy_armor">
                            <div align="center" id="defense_armor_values_titles">
                                Physical
                            </div>
                            <div id="defense_armor_values">
                                <div id="armor_values_color">7</div>
                            </div>
                        </span>
                        <span id="mystic_armor">
                            <div align="center" id="defense_armor_values_titles">
                                Mystic
                            </div>
                            <div id="defense_armor_values">
                                <div id="armor_values_color">2</div>
                            </div>
                        </span>

                    </div>

                    <!-- TODO (1) Create & Finish Intiatieve, Movement,
                         Strenght Fields...
                    -->
                    <div id="init_mov_str_block">
                        <div id="init_field">
                            <div id="initiative_title">
                                Initiative
                            </div>
                            <div id="dex_step">
                                Dexterity Step: <span id="dex_step_value">5</span>
                            </div>
                            <div id="armor_mod">
                                Armor Modifier: <span id="armor_mod_value">0</span>
                            </div>
                            <div id="final_step_action_dice">
                                Final Step /
                            </div>
                            <div id="final_step_action_dice">
                                Action Dice: <span id="final_step_action_dice_value">5 / 5</span>
                            </div>
                        </div>
                        <div id="mov_str_field">

                        </div>

                    </div>

                </span>
            </div>
        </div>



    </body>
</html>
