<!-- removed to fix their main block -->

<span id="initiative_field">
    <div id="initiative_title">
        Initiative
    </div>
    <div id="dex_step">
        Dexterity Step: <span id="dex_step_value">5</span>
    </div>
    <div id="armor_mod">
        Armor Modifier: <span id="armor_mod_value">0</span>
    </div>
    <div id="final_step_action_dice">
        Final Step /
    </div>
    <div id="final_step_action_dice">
        Action Dice: <span id="final_step_action_dice_value">5 / 5</span>
    </div>
</span>
<!-- TODO (1) resolve Movement Field -->
<span id="movement_strenght_field">
  <div id="movement_title">
      Movement
  </div>
  <div id="full_combat_fields">
      <span id="full_field">
          Full:
      </span>
      <span id="combat_field">
          Combat:
      </span>
  </div>
</span>
